.box h1{font-weight:400;}

.box-content{text-align:center;font-size:18px;}
.box-content img{margin-bottom:10px;}

.travel-agency .box-pic{text-shadow:1px 1px 5px #333;}
.travel-agency .box-pic h2{color:#fff;font-weight:700;font-size:2em;}
.travel-agency .box-pic .box-header{margin-bottom:0;}

.company .box-content{display:flex;justify-content:space-between;text-align:left;font-size:14px;}
.company .box-content li{list-style:none;margin-bottom:10px;}
.company .box-content h3{font-weight:600;margin-bottom:5px;}
.company .box-item{width:49%;flex-shrink:0;}

.partner .box-content{display:flex;list-style:none;justify-content:space-between;flex-wrap:wrap;}
.partner li{margin-bottom:10px;}
.partner img{max-width:180px;border:1px solid #fff;padding:5px 10px;}
.partner img:hover{filter:none;}

.business .title{font-weight:600;margin-bottom:10px;font-size:22px;}
.business .content{margin:0;font-size:15px;}
.business .box-content{display:flex;}
.business .box-item{padding:0 20px;text-align:left;width:33.3333%;}

.honor .box-content{text-align:left;}

.process{border:none;}
.process .title{font-weight:400;}
.process svg{width:150px;}
.process .box-content{display:flex;justify-content:space-between;margin:0 auto;margin-bottom:50px;}
.process .box-item{width:33.333%;flex-shrink:0;}
.process .box-footer{text-align:center;}
.process .box-footer img{margin-top:50px;}

.service{padding:0;background:#fff;border:none;}
.service img{border-radius:5px;}

@media (max-width:500px){
  .travel-agency .box h1{margin-bottom:0;}
  .travel-agency .box-header{margin-bottom:20px;}
  
  .travel-agency .box-pic h1{margin-bottom:10px;}
  .travel-agency .box-pic h2{font-size:16px;font-weight:600;}
  
  .company .box-content{display:block;}
  .company .box-item{width:100%;}
  .company .box-item:first-child{margin-bottom:10px;}
  .company .box-item p{margin:5px 0 20px 0;}
  
  .business .box-content{display:block;}
  .business .box-item{width:100%;margin-bottom:20px;padding:0;border-bottom:1px solid #eee;padding-bottom:20px;}
  .business .box-content .title{font-size:18px;}
  
  .process .box-content{width:100%;}
  .process .box-item{font-size:13px;width:33.333%;padding:0 10px;}
  .process .box-item svg{width:80px;}
  
  .service{padding:20px 0;}
  
  .partner .box-content li{width:33.333%;}
  .partner img{max-width:100%;}
  
  .honor .box-content{font-size:13px;}
}