
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

<IfModule mod_rewrite.c>

# 单- 仅计算宽度 缩放
RewriteRule ^(wp-content/uploads/[\d]{4}/[\d]{2}/)([\d]+?)-([\d]+?)\.(jpg|jpeg|png|gif)$ /wp-content/uploads/timthumb.php?src=/$1$2.$4&w=$3&s=1 [L]

# 双- 计算宽度高度 裁剪
RewriteRule ^(wp-content/uploads/[\d]{4}/[\d]{2}/)([\d]+?)-([\d]+?)-([\d]+?)\.(jpg|jpeg|png|gif)$ /wp-content/uploads/timthumb.php?src=/$1$2.$5&w=$3&h=$4&sz=1&s=1 [L]

# 所有图片仅显示500px宽度缩放图
RewriteRule ^(wp-content/uploads/[\d]{4}/[\d]{2}/)([\d]+?)\.(jpg|jpeg|png|gif)$ /wp-content/uploads/timthumb.php?src=$1$2.$3&w=500&s=1 [L]

</IfModule>