$space : 15px;
$vspace : 30px;

$color_brand : #00d2cb;
$color_base  : #555;
$color_gray  : #999;
$color_line  : #eee;
$color_dark  : #2d343a;
$color_bg    : #F8F8F8;


$body_bg : #EDEFF0;


$price_color: #F44F17;
$price_size: 22px;


$order_color: #00d2cb;
$order_size: 16px;





$container_width: 1230px;
$sidebar_width: 300px;
$sidebar_left_space: 40px;





// HOME
$home_recommend_cols: 3;
$home_recommend_space: 2%;
$home_recommend_title_size: 14px;

$home_story_cols: 4;
$home_story_space: 0;
$home_story_title_size: 16px;

$home_counselor_cols: 4;
$home_counselor_space: 2%;
$home_counselor_title_size: 16px;

$home_intibet_cols: 2;
$home_intibet_space: 3%;
$home_intibet_title_size: 16px;






// FOOTER
$footer_bg: $color_dark;




// DEVICE
$breakpoints: (
  phone : 544px,
  pad   : 768px,
  desk  : 1024px,
  wide  : 1200px
) !default;











// OLD

$phone_line_w: 2px;


$bg : #EDEFF0;
$brand : #00d2cb;
$link : #2F9FFF;
$dark  : #384047;
$base  : #555;
$gray  : #999;
$bser  : #bbb;
$light : #eee;
$line : #ddd;
$f2 : #f2f2f2;
$f7 : #f7f7f7;














