@mixin ease_in_out {
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
    		transition: all .3s ease-in-out;
}

@mixin vcenter {
	justify-content:center;
	align-items:center;
	display:-webkit-flex;
}

@mixin clear {
	&:before, &:after{
		display:table;
		content:"";
		line-height:0;
	}
	&:after{
		clear:both;
	}
}

@mixin ell {
    // width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


@mixin abox {
	&:hover{
		-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.05);
		box-shadow:0 5px 15px rgba(0,0,0,0.05);
		-webkit-transform:translate3d(0, -2px, 0);
		transform:translate3d(0, -2px, 0)
	}
}

@mixin abox_kill {
	&:hover{
		-webkit-box-shadow:none;
		box-shadow:none;
		-webkit-transform:none;
		transform:none;
	}
}

@mixin card {
	background-color: #fff;
	border-bottom: 2px solid #DFE1E2;
	border-radius: 3px;
}

@mixin card_kill {
	border-bottom: none;
	border-radius: 0;
}



@mixin media-max($name, $breakpoints: $breakpoints) {
    $max: map-get($breakpoints, $name);
    @media (max-width: $max) {
        @content
    }
}
