@font-face {
  font-family: 'iconfont';  /* project id 347187 */
  src: url('//at.alicdn.com/t/font_347187_p8eq6kjmrjhy3nmi.eot');
  src: url('//at.alicdn.com/t/font_347187_p8eq6kjmrjhy3nmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_347187_p8eq6kjmrjhy3nmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_347187_p8eq6kjmrjhy3nmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_347187_p8eq6kjmrjhy3nmi.svg#iconfont') format('svg');
}


                          
.fa {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;font-weight: normal;}
ul,ol{margin: 0;padding: 0;list-style: none;}
dl,dt,dd{margin: 0;padding: 0;}
video, embed, iframe{max-width:100%;}
img{max-width:100%;}

.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.hidden{display:none!important}
.affix{position:fixed}

.clearfix, .container{
	@include clear;
}

a, input, .thumb{
	@include ease_in_out;
}


a {
	color: $color_base;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none
	}
	&:hover {
		color: $color_brand;
	}
	&:focus {
		outline: 0;
		color: $color_base;
	}
}









body {
	position: relative;
	font-size: 14px;
	line-height: 1.4;
	color: $color_base;
	overflow-x: hidden;
	// background-color: $body_bg;
}
.container {
	max-width: $container_width;
	text-align: left;
	position: relative;
	margin: 0 auto;
	padding-left: $space;
	padding-right: $space;

	@include media-max(phone) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.content-wrap {
	width: 100%;
	float: left;
	margin-bottom: $space;
}
.content {
	position: relative;
	margin-right: $sidebar_width + $sidebar_left_space;
}
.sidebar {
	float: left;
	width: $sidebar_width;
	margin-left: -$sidebar_width;
}




@include media-max(desk) {
	.content-wrap{
		float: none;
	}
	.content{
		margin-left: 0;
		margin-right: 0;
	}
	.sidebar{
		float: none;
		width: auto;
		margin-left: 0;
	}

	.home-content-right{
		.content{
			margin-right: 0;
			margin-left: 0;
		}
		.sidebar{
			margin-left: 0;
		}
	}
}







.title-base{
	height: 18px;
	margin-bottom: 15px;
	@include clear;
	h3{
		float: left;
		font-size: 18px;
		line-height: 1;
	}
	.links{
		float: right;
		a{
			float: left;
			margin-left: 21px;
			position: relative;
			color: #999;
			&:hover{
				color: $color_brand;
			}
			&::after{
				position: absolute;
				top: 3px;
				right: -11px;
				content: '';
				background-color: darken($color_line,6%);
				width: 1px;
				height: 14px;
			}
			&:last-child{
				margin-right: 0;
				&::after{
					display: none;
				}
			}
			&.on{
				color: $color_brand;
			}
		}
	}

	@include media-max(pad) {
		margin-bottom: 10px;
		height: 16px;
		h3{
			font-size: 16px;
			font-weight: bold;
		}
		.links{
			font-size: 12px;
			margin-top: 2px;
			a{
				&::after{
					height: 12px;
					top: 1px;
				}
			}
		}
	}

	@include media-max(phone) {
		height: 14px;
		margin-bottom: 5px;
		h3{
			font-size: 14px;
		}
		.links{
			font-size: 10px;
			margin-top: 0;
			a{
				margin-left: 16px;
				&::after{
					height: 10px;
					top: 1px;
					right: -9px;
				}
			}
		}
	}
}
.sidebar .title-base{
	border-left: 4px solid $color_brand;
	padding-left: 10px;
}









.leader-title{
	margin-bottom: $vspace;
	position: relative;
	height: 240px;
	@include vcenter;
	.container{
		text-align: center;
	}
	h1{
		margin: 0;
		display: inline-block;
		font-size: 36px;
		font-weight: normal;
		color: #fff;
		position: relative;
		&::before, &::after{
			position: absolute;
			top: 50%;
			content: '';
			width: 32px;
			height: 1px;
			background-color: #fff;
		}
		&::before{
			left: -32px - 10;
		}
		&::after{
			right: -32px - 10;
		}
	}
	h3{
		margin-top: 5px;
		font-size: 18px;
		line-height: 1.5;
		color: #fff;
	}
	
	@include media-max(pad) {
		height: 160px;
		margin-bottom: 15px;
		h1{
			font-size: 27px;
		}
		h3{
			font-size: 14px;
		}
	}
	@include media-max(phone) {
		height: 120px;
		h1{
			font-size: 16px;
			font-weight: bold;
		}
		h3{
			font-size: 12px;
		}
	}
}




.leader-banner{
	position: relative;
	.inner{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px 0;
		background-color: rgba(0,0,0,0.5);
		@include vcenter;
	}
	.container{
		text-align: center;
	}
	h1{
		display: none;
	}
	h2{
		margin-bottom: 10px;
		display: inline-block;
		font-size: 30px;
		font-weight: normal;
		color: #fff;
	}
	p{
		margin: 5px 0;
		font-size: 14px;
		color: #fff;
	}
}








.iselect{
	position: absolute;
	z-index: 999;
	padding: 2px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid $color_brand;
	max-height: 213px;
	overflow-y: auto;
	display: none;

	&::-webkit-scrollbar-track-piece{  
	    background-color:#fff;  
	}  
	&::-webkit-scrollbar{  
	    width:8px;  
	}  
	&::-webkit-scrollbar-thumb{  
	    background-color:#ddd;  
	    -webkit-border-radius:0;  
	    border: 2px solid #fff;  
	}  
	&::-webkit-scrollbar-thumb:hover{  
	    background-color:$color_brand;  
	}  

	li{
		line-height: 30px;
		height: 30px;
		padding: 0 15px;
		cursor: pointer;
		border-radius: 2px;
		&:hover{
			color: #fff;
			background-color: $color_brand;
		}
	}
}



