
.page-template-default{
	// .header{
	// 	box-shadow: 1px 0 6px rgba(0, 0, 0, 0.18);
	// 	margin-bottom: 30px;
	// }
}




.focusbanner{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 200px;
	color: #fff;
	margin-bottom: $space*1.5;

	@include media-max(pad) {
		height: 100px !important;
		margin-bottom: $space;
		background-size: 100% 100%;
	}
	@include media-max(phone) {
		margin-bottom: $space*0.5;
	}
}





.pagecontainer{
	position: relative;
	margin-bottom: 30px;
	// padding-left: 250px;

	@at-root{
		.page-template-wide &{
			padding-left: 0;
		}
	}

	@include media-max(pad) {
		padding-left: 195px;
	}

	@include media-max(phone) {
		padding-left: 0;
		margin-left: -$space;
		margin-right: -$space;
	}

	.article-content{
		min-height: 300px;
		@include media-max(phone) {
			min-height: 0;
		}
	}
}
.pagemenus{
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;

	@include media-max(pad) {
		width: 180px;
		padding: 5px 0;
	}

	@include media-max(phone) {
		width: auto;
		position: relative;
		margin-bottom: $space*0.5;
		padding: 13px 15px;
	}

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: $color_bg;
		border-radius: 2px;
		overflow: hidden;
		a{
			display: block;
			padding: 10px 15px;
			border-radius: 2px;
		}

		.current-menu-item, .current_page_item{
			&>a{
				background-color: $color_brand;
				color: #fff;
				font-weight: bold;

				@include media-max(pad) {
					border-radius: 0;
				}

				@include media-max(phone) {
					border-radius: 3px;
				}
			}
		}
	}

	.sub-menu{
		&>li>a{
			padding-left: 15+14px;
		}
	}

}

.pagecontent{
	margin-bottom: 30px;
	@include media-max(pad) {
		
	}
	@include media-max(phone) {
		
	}

}
.pagecontent-header{
	margin-bottom: 30px;
	text-align: center;

	@include media-max(phone) {
		margin-bottom: $space*1.5;
	}

	h1{
		position: relative;
		margin: 0;
		font-size: 22px;
		font-weight: bold;

		@include media-max(pad) {
			font-size: 18px;
		}

		@include media-max(phone) {
			font-size: 16px;
		}
	}
}

