.single{
	.header{
		box-shadow: 1px 0 6px rgba(0, 0, 0, 0.18);
		margin-bottom: 30px;
		@include media-max(pad) {
			margin-bottom: 15px;
		}
	}
}




.article-header {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $color_line;
}

.article-title {
	font-size: 26px;
	line-height: 1.5;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.article-meta {
	overflow: hidden;
	color: #999;
	a{
		color: #999;
		&:hover{
			color: $color_brand;
		}
	}
	li {
		margin-right: 30px;
		float: left;
		&.r{
			float: right;
			margin-right: 0;
			margin-left: 30px;
		}
		.fa{
			display: inline-block;
			width: 14px;
		}
		dfn{
			color: $price_color;
			font-style: normal;
			font-weight: bold;
		}
	}
}

@include media-max(desk) {
	.article-title{
		font-size: 20px;
	}
}
@include media-max(pad) {
	.article-meta{
		font-size: 12px;
		.item{
			margin-right: 10px;
		}
	}
}
@include media-max(phone) {
	.article-header{
		margin-bottom: 15px;
	}
	.article-title{
		font-size: 18px;
		margin-bottom: 0;
		padding-bottom: 5px;
		border-bottom: none;
	}
	.article-meta{
		font-size: 10px;
		margin-bottom: 10px;
		li{
			margin-right: 15px;
			&.r{
				margin-right: 0;
				margin-left: 15px;
			}
			.fa{
				margin-right: -4px;
			}
		}
		.meta-views{
			display: none;
		}
	}
}






$article_mar: 15px;

.article-content {
	font-size: 15px;
	line-height: 1.6;

	@include media-max(phone) {
		font-size: 14px !important;
		line-height: 1.6 !important;
	}
	word-wrap: break-word;
	@include clear;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	h1, h2, h3, h4, h5, h6{
		margin:0 0 $article_mar;
		color: #333;
		font-weight: bold;
	}
	p{
		margin:0 0 $article_mar;
		// text-indent: 2em;
	}

	h1{
		font-size: 22px;
		@include media-max(phone) {
			font-size: 20px !important;
		}
	}

	h2 {
		font-size: 20px;
		@include media-max(phone) {
			font-size: 18px !important;
		}
	}
	h3 {
		font-size: 18px;
		@include media-max(phone) {
			font-size: 16px !important;
		}
	}
	h4 {
		font-size: 16px;
		@include media-max(phone) {
			font-size: 15px !important;
		}
	}
	h5 {
		font-size: 15px;
		@include media-max(phone) {
			font-size: 15px !important;
		}
	}
	h6 {
		font-size: 15px;
		@include media-max(phone) {
			font-size: 15px !important;
		}
	}


	a {
		color: $color_brand;
	
		&:hover {
			color: darken($color_brand, 5%);
			text-decoration: underline;
		}
	}
	del{
		color: #999;
		font-style: italic;
	}
	pre {
		margin: $article_mar 0;
		font: 12px/20px 'courier new';
		background: #4A4A4A;
		padding: 10px 20px;
		color: #F8F8D4;
		border: none;
		word-wrap: break-word;
	}
	blockquote {
		position: relative;
		margin: $article_mar 0;
		padding: 10px 30px 0;
		color: #999;
		&::before{
			font-family: 'iconfont';
			content: '\e618';
			font-size: 22px;
			line-height: 1;
			color: $color_brand;
			position: absolute;
			left: 0;
			top: 0;
		}
		p {
			margin: 0;
			padding: 0;
			margin-bottom: 5px;
		}
	}

	ul, ol {
		margin: $article_mar 0 $article_mar 46px;
		li{
			margin-bottom: 4px;
		}
	}
	ul{
		list-style-type: disc;
	}
	ol{
		list-style-type: decimal;
	}

	table {
		border-top: solid 1px #ddd;
		border-left: solid 1px #ddd;
		width: 100%;
		margin-bottom: $article_mar;
		th {
			background-color: #f9f9f9;
			text-align: center;
		}
		th, td {
			border-bottom: solid 1px #ddd;
			border-right: solid 1px #ddd;
			padding: 5px 10px;
		}
	}
	embed{
		&[align="middle"]{
			margin: 0 auto;
			display: block;
		}
	}
	.alignnone {
		margin: 0 auto;
	}
	.alignleft {
		text-align: left;
	}
	.aligncenter {
		margin: 0 auto;
		text-align: center;
		display: block;
		img{
			margin: 0 auto;
		}
	}
	.alignright {
		text-align: right;
	}
	.wp-caption {
		margin-bottom: $article_mar;
		max-width: 100%;
		
		img {
			margin-bottom: 5px;
		}

		p {
			margin: 0;
			text-indent: 0;
		}

		.alignnone {
			text-align: center;
		}

		.wp-caption-text {
			font-size: 14px;
			color: $gray;
		}
	}

}


.article-like{
	text-align: center;
	margin: 30px 0;
	@include media-max(phone) {
		margin: 15px 0 30px;
	}
}
.article-share{
	text-align: center;
	.bdsharebuttonbox{
		display: inline-block;
		span{
			float: left;
			line-height: 28px;
			font-size: 12px;
			color: #999;
		}
	}
	@include media-max(phone) {
		display: none;
	}
}



.article-paging {
	text-align: center;
	font-size: 12px;
	overflow: hidden;
	clear: both;
	margin: $space 0 $space*3;

	span {
		margin: 3px 2px;
		display: inline-block;
		padding: 7px 15px;
		border-radius: 2px;
		background-color: $bser;
		color: #fff;
	}
	a span {
		background-color: $light;
		color: $gray;
	}
	a:hover span {
		background-color: $dark;
		color: #fff;
	}
}



/* .article-nav{overflow:hidden;margin-bottom: 30px;font-size:14px;color:#bbb;clear: both;}
.article-nav span{float:left;position:relative;width: 50%;}
.article-nav span.article-nav-next{float:right;text-align:right}
.article-nav span.article-nav-next::before{content: '';position: absolute;left:0;top:0;height:100%;display: block;width: 1px;background-color: #eee;}
.article-nav a{color: #999;margin-right: 10px;display: inline-block;}
.article-nav span.article-nav-next a{margin-left: 10px;margin-right: 0;}
.article-nav a:hover{color: #FF5E52;}

 */




.postitems{
	margin-top: $space*2;
	h3{
		margin: 0 0;
		line-height: 1;
		font-size: 18px;
		font-weight: normal;
		.fa{
			font-size: 18px;
			width: 18px;
			display: inline-block;
			margin-right: 10px;
		}
	}
	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0 -2% 0 0;
	}
	ul:after {
		display: block;
		content: '';
		clear: both;
	}
	li {
		text-align: center;
		padding: $space;
		width:100%/4 - 2%;
		margin-right: 2%;
		margin-top: 2%;
		display: inline-block;
		vertical-align: top;

		@include card;

		&:nth-child(-n+4){
			margin-top: $space;
		}

		@include ease_in_out();
		@include abox;
	

		.thumb{
			display: block;
			margin-bottom: 10px;
		}
		.tit{
			display: block;
			overflow: hidden;
			height: 38px;
		}
	}
	
}

@include media-max(phone) {
	.postitems{
		margin-top: $space*0.5;
		margin-left: -$space;
		margin-right: -$space;
		text-align: center;
		h3{
			position: relative;
			font-size: 15px;
			font-weight: bold;
			margin-left: auto;
			margin-right: auto;
			margin-top: $space;
			margin-bottom: $space*0.75;
			display: inline-block;

			&::before{
				position: absolute;
				top: 50%;
				left: -30px - 10;
				content: '';
				height: 1px;
				width: 30px;
				background-color: rgba(0,0,0,0.12);
			}
			&::after{
				position: absolute;
				top: 50%;
				right: -30px - 10;
				content: '';
				height: 1px;
				width: 30px;
				background-color: rgba(0,0,0,0.12);
			}
		}
		ul{
			margin-right: 0;
			&::before{
				z-index: 2;
				position: absolute;
				content: '';
				top: 0;
				bottom: 0;
				left: 50%;
				margin-left: -1px;
				background-color: $bg;
				width: $phone_line_w;
			}
		}
		li{
			@include card_kill;
			@include abox_kill;
			width:50%;
			margin-right: 0;
			margin-top: 2px !important;
			img{
				width: 100%;
			}
			.tit{
				font-weight: bold;
				text-align: left;
				font-size: 12px;
				height: 34px;
			}
		}
	}
}




.article-nav{
	overflow: hidden;
	color: #bbb;
	margin-bottom: 30px;
}
.article-nav-prev{
	float: left;
	width: 49%;
	@include media-max(pad) {
		display: block;
		width: auto;
		float: none;
		margin-bottom: 10px;
	}
}
.article-nav-next{
	float: right;
	text-align: right;
	width: 49%;
	@include media-max(pad) {
		display: block;
		text-align: left;
		width: auto;
		float: none;
	}
}









/* 
.article-wechats{
	text-align: center;
}
.article-wechatitem{
	display: inline-block;
	text-align: left;
	width: 320px;
	border-radius: 2px;
	border: 1px solid $light;
	// background-color: lighten($light, 6%);
	padding: 15px 15px 15px 110px;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.02);
	overflow: hidden;	
	position: relative;
	img{
		width: 80px;
		height: 80px;
		float: left;
		margin-left: -95px;
	}
}
.article-wechatitem-tit{
	font-weight: bold;
	margin-bottom: 5px;
	height: 19px;
	overflow: hidden;
}
.article-wechatitem-desc{
	font-size: 12px;
	color: $bser;
	height: 32px;
	overflow: hidden;
}
.article-wechatitem-users{
	position: absolute;
	bottom: 15px;
	color: #7BD172;
	font-size: 12px;
}


@include media-max(phone) {

	.article-wechatitem{
		max-width: 320px;
		width: auto;
	}

}


 */















/* 

.rewards-popover-mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;
}
.rewards-popover{
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -275px;
	width: 550px;
	background-color: #FFF;
	padding: 40px 20px 50px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	z-index: 9999;
	display: none;
	text-align: center;
	h3{
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin: 0 15px 30px;
	}
}
.rewards-popover-item{
	display: inline-block;
	width: 200px;
	margin: 0 20px;
	h4{
		margin: 0 20px 10px;
		font-size: 15px;
	}
	img{
		width: 200px;
		height: 200px;
		background-color: #eee;
		border-radius: 2px;
		padding: 5px;
	}
}
.rewards-popover-close{
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	font-size: 16px;
	line-height: 1;
	color: #999;
	cursor: pointer;
	&:hover{
		color: #666;
	}
}


@include media-max(pad) {

	.rewards-popover{
		width: 300px;
		margin-left: -150px;
		margin-top: -125px;
		padding: 30px 10px;
		h3{
			font-size: 16px;
			margin: 0 5px 15px;
		}
	}
	.rewards-popover-item{
		width: 125px;
		margin: 0 5px;
		h4{
			font-size: 12px;
			margin: 0 0 10px;
		}
		img{
			width: 125px;
			height: 125px;
		}
	}

}


 */















/* 
.article-tags{
	margin-bottom: $space*2;
	a{
		display: inline-block;
		padding: 8px 10px 7px;
		line-height: 1;
		font-size: 12px;
		border-radius: 2px;
		margin-right: 5px;
		color: $gray;
		background-color: $light;
		&:hover{
			color: #fff;
			background-color: $brand;
		}
	}
}
















.article-nav{
	clear: both;
	overflow: hidden;
	color: $gray;
	font-size: 12px;
	margin-bottom: $space*3;
	a{
		font-size: 14px;
	}
	.article-nav-prev{
		float: left;
		width: 50%;
	}
	.article-nav-next{
		float: right;
		width: 50%;
		text-align: right;
	}
}

@include media-max(phone) {

	.article-nav{
		.article-nav-prev{
			float: none;
			width: auto;
			display: block;
		}
		.article-nav-next{
			margin-top: $space;
			float: none;
			width: auto;
			display: block;
			text-align: left;
		}
	}

}







 */









