
.weather-container{
	margin-top: 20px;
}

.weather-hd{
	margin-bottom: 15px;
	padding-left: 70px;
	overflow: hidden;
	img{
		float: left;
		margin-left: -70px;
		max-width: 60px;
	}
	h1{
		font-size: 22px;
		font-weight: bold;
		line-height: 1;
		margin: 9px 0 7px;
		padding: 0;
		color: #2D343A;
	}
	h2{
		font-size: 14px;
		margin: 0;
		padding: 0;
	}

	@include media-max(phone) {
		h1{
			font-size: 18px;
		}
		h2{
			font-size: 12px;
		}
	}
}


.weather-daily{
	clear: both;
	position: relative;
	overflow: hidden;
	border: 1px solid #eee;
	border-top: 2px solid $base;
	margin-bottom: 30px;
	font-size: 14px;
	ul{
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		list-style: none;
		float: left;
		margin: 0;
		padding: 0;
		width: 100%/7 - 0%;
		text-align: center;
		line-height: 1.5;
		border-right: 1px solid #eee;
		&:last-child{
			border-right: none;
		}
	}
	img{
		margin: 0 auto;
		max-width: 60px;
	}
	.-week{
		display: block;
		background-color: #fbfbfb;
		padding-top: 5px;
		font-weight: bold;
		color: #2D343A;
	}
	.-day{
		display: block;
		color: #bbb;
		padding-bottom: 5px;
		background-color: #fbfbfb;
		border-bottom: 1px solid #f2f2f2;
	}
	.-tmp{
		display: block;
		font-weight: bold;
		color: #2D343A;
	}
	.-condtxt{
		display: block;
		font-weight: bold;
		color: #2D343A;
	}
	.-condpic{
		display: block;
		margin: 15px 0;
	}
	.-wind{
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		// color: #bbb;
	}
	.-uv{
		display: block;
		color: #bbb;
		font-size: 12px;
	}
	@include media-max(phone) {
		font-size: 12px;
		img{
			max-width: 40px;
		}
		.-wind{
			font-size: 10px;
		}
	}
}


.weather-lists{
	overflow: hidden;
	margin-bottom: 30px;
	.title-base{
		margin-bottom: 10px;
	}
	h3{
		font-weight: bold;
		color: #2D343A;
	}
	ul{
		overflow: hidden;
		list-style: disc;
		padding: 20px 20px 10px;
		border: 1px solid #eee;
	}
	li{
		width: 50%;
		float: left;
		margin-bottom: 10px;
		@include ell;
		padding-left: 16px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 5px;
			height: 5px;
			background-color: #555555;
			border-radius: 50%;
		}
	}

	@include media-max(phone) {
		li{
			float: none;
			width: auto;
		}
	}
}


.weather-citys{
	overflow: hidden;
	margin-bottom: 30px;
	.title-base{
		margin-bottom: 10px;
	}
	h3{
		font-weight: bold;
		color: #2D343A;
	}
	ul{
		overflow: hidden;
		padding: 20px 20px 10px;
		border: 1px solid #eee;
	}
	li{
		width: 25%;
		float: left;
		margin-bottom: 10px;
		@include ell;
		padding-left: 16px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 5px;
			height: 5px;
			background-color: #555555;
			border-radius: 50%;
		}
	}

	@include media-max(phone) {
		li{
			width: 50%;
		}
	}
}