
.sidebar .affix{
	position: fixed;
	top: 30px;
	width: 300px;
}

.sidebar .affix, .sidebar .affix-bottom{
	@include media-max(desk) {
		position: relative!important;
		top: 0!important;
		width: auto;
	}
}

.widget {
	position: relative;
	margin-bottom: $vspace;
	@include media-max(pad) {
		margin-bottom: 15px;
	}
	
	header{
		margin-bottom: 15px;
		border-left: 4px solid $color_brand;
		padding-left: 10px;
		margin-bottom: 15px;
		height: 18px;
		@include clear;
		h3{
			float: left;
			font-size: 18px;
			line-height: 1;
		}
		.links{
			float: right;
			a{
				float: left;
				margin-left: 21px;
				position: relative;
				color: #999;
				&:hover{
					color: $color_brand;
				}
				&::after{
					position: absolute;
					top: 3px;
					right: -11px;
					content: '';
					background-color: darken($color_line,6%);
					width: 1px;
					height: 14px;
				}
				&:last-child{
					margin-right: 0;
					&::after{
						display: none;
					}
				}
				&.on{
					color: $color_brand;
				}
			}
		}
		@include media-max(pad) {
			height: 16px;
			margin-bottom: 10px;
			h3{
				font-weight: bold;
				font-size: 16px;
			}
		}

		@include media-max(phone) {
			height: 14px;
			h3{
				font-size: 14px;
			}
		}
	}
	
	

	ul:before, 
	ul:after {
		display: table;
		content: "";
		line-height: 0
	}
	ul:after {
		clear: both;
	}
}



.widget_custom{
	ul{
		background-color: $color_bg;
		border-radius: 2px 2px 0 0;
	}
	li{
		padding-left: 100px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $color_line;
		.fa{
			float: left;
			margin-left: -100px;
			width: 100px;
			margin-top: 3px;
			font-size: 36px;
			text-align: center;
		}
		p{
			margin: 5px 0 0;
			font-size: 12px;
			color: #999;
		}
	}
	footer{
		background-color: $color_bg;
		border-radius: 0 0 2px 2px;
		text-align: center;
		padding: 15px;
	}
}

.widget_safe{
	ul{
		text-align: center;
		// background-color: $color_bg;
		// border: 1px solid $color_line;
		
		color: #fff;
		margin-right: -3%;
	}
	li{
		float: left;
		width: 47%;
		margin-right: 3%;
		a{
			color: #fff;
			display: block;
			padding: 15px 20px;
			background-color: $color_brand;
			&:hover{
				background-color: darken($color_brand, 5%);
			}
			.fa{
				display: block;
				font-size: 30px;
			}
			strong{
				font-weight: normal;
				font-size: 16px;
			}
			p{
				margin: 5px 0 0;
				font-size: 12px;
				color: #AFF0EE;
				color: rgba(255,255,255,0.7);
			}
		}
		
	}
}






.widget_spots{
	.inner{
		// border: 1px solid $color_line;
		margin-top: -7px;
	}
	dl{
		overflow: hidden;
		padding: 7px 0 7-3px 0;
		// padding-left: 60px;
		border-bottom: 1px solid $color_line;

	}
	dt{
		// float: left;
		// margin-left: -50px;
		font-weight: bold;
		margin-bottom: 3px;
		color: #555;
	}
	dd{
		a{
			float: left;
			margin-right: 9px;
			margin-bottom: 3px;
			color: #777;
			&:hover{
				color: $color_brand;
			}
		}
	}

	@include media-max(phone) {
		.inner{
			margin-top: 0;
		}
	}
}




.widget_counselor{
	.inner{
		display: block;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	footer{
		background-color: #fff;
		border: 1px solid $color_line;
		border-top: none;
		position: relative;
		text-align: center;
		padding: 13px 15px;
	}
	.level{
		@include ease_in_out;
		position: absolute;
		top: -20px;
		left: 50%;
		width: 160px;
		margin-left: -80px;
		border-radius: 50px;
		padding: 10px 20px;
		background-color: $color_brand;
			color: #fff;
	}
	.tit{
		display: block;
		padding: 15px 0 10px 0;
		font-size: $home_counselor_title_size;
	}
	.intro{
		@include ease_in_out;
		overflow: hidden;
		text-align: left;
		color: #999;
	}
	
	@include media-max(pad) {
		.thumb{
			width: 100%;
		}
		.tit{
			font-weight: bold;
		}
	}
}





.widget_service{
	background-color: $color_bg;
	border-radius: 4px;
	text-align: center;
	padding: 30px 20px;
	h3{
		font-size: 18px;
	}
	p{
		margin: 15px 0;
		color: #999;
		line-height: 1.5;
	}
	@include media-max(pad) {
		h3{
			font-weight: bold;
		}
	}
}


.widget_cats{
	ul{
		margin-right: -3%;
		text-align: center;
		li{
			float: left;
			width: 47%;
			margin-right: 3%;
			margin-top: 2.5%;
			&:nth-child(-n+2){
				margin-top: 0;
			}
			a{
				display: block;
				padding: 10px 10px;
				background-color: $color_bg;
				border-radius: 2px;
				color: #777;
				&:hover{
					background-color: $color_brand;
					color: #fff;
				}
			}
		}
	}
}




.widget_postlist{
	.largethumb{
		li{
			margin-bottom: 15px;
		}
		.thumb{
			margin-bottom: 5px;
		}
	}
	.thumbtitle{
		li{
			overflow: hidden;
			padding-left: 100px;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $color_line;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.thumb{
			float: left;
			margin-left: -100px;
			width: 90px;
		}
	}
	.justtitle{
		a{
			@include ell;
			position: relative;
			display: block;
			padding: 10px 0 10px 14px;
			border-bottom: 1px solid $color_line;
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -2px;
				width: 4px;
				height: 4px;
				border-radius: 10px;
				background-color: $color_brand;
			}
			&:hover{
				background-color: $color_bg;
			}
		}
	}
}




.widget_text{

	.textwidget{
		// padding: 20px;
		// border-radius: 2px;
		// background-color: $color_bg;
		position: relative;
		overflow: hidden;
		a{
			color: $color_brand;
			&:hover{
				text-decoration: underline;
			}
		}
		p{
			margin: 0 0 10px;
		}
		ul{
			list-style: disc;
			margin-left: 18px;
			margin-bottom: 10px;
		}
		ol{
			list-style: decimal;
			margin-left: 18px;
			margin-bottom: 10px;
		}
	}
}



/* 

.widget_textasst {
	
	a {
		display: block;
		padding: 0 15px 20px;
		font-size: 12px;
		border: 1px solid #fff;
		@include card;
	
		h2 {
			font-size: 18px;
			font-weight: normal;
			margin: 10px 0 5px;
		}
		p {
			color: #999;
			margin: 0;
		}
		strong {
			margin: -1px 0 0 0;
			display: inline-block;
			padding: 4px 10px;
			color: #fff;
			font-size: 14px;
			font-weight: normal;
			border-radius: 0 0 3px 3px;
		}
	

		&.style01{color: #00AAEE;}
		&.style01:hover{border-color: #00AAEE;}
		&.style01 strong{background-color: #00AAEE;}

		&.style02{color: #FF5E52;}
		&.style02:hover{border-color: #FF5E52;}
		&.style02 strong{background-color: #FF5E52;}

		&.style03{color: #5CB85C;}
		&.style03:hover{border-color: #5CB85C}
		&.style03 strong{background-color: #5CB85C;}

		&.style04{color: #C35BFF;}
		&.style04:hover{border-color: #C35BFF;}
		&.style04 strong{background-color: #C35BFF;}

		@include media-max(phone) {
			margin-left: -15px;
			margin-right: -15px;
			@include card_kill;
			h2{
				font-size: 14px;
				font-weight: bold;
			}
			strong{
				font-size: 12px;
				border-radius: 0;
			}
		}
	}

}
 */